body,
html
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(226, 220, 200);

}

h1
{
    text-align: center;
    color: #4424D6;
    font-size: 55px;
}

.center
{
  display: flex;
  justify-content: center;
  
}

.center img
{
  margin-left: 7px;
  margin-right: 7px;
}

h2
{
  color: #4424D6;
  text-align: center;
}
